body {
    background-color: rgba(26, 188, 156,1.0);
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#content {
    overflow: auto;
}

#nav, #banner, #footer {
    margin: 1%;
}

h1 {
    font-family: 'Noto Sans', sans-serif;
}

.column1, .column2, .column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
}

.column3 {
    margin-right: 0%;
}

li {
    display: inline;
    padding: 0.5em;
    text-align: left;
    background-color: rgba(243, 156, 18,1.0);
    color: rgba(52, 73, 94,1.0);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400; 
}

li.active {
    background-color: rgba(241, 196, 15,1.0);
}

li a {
    text-decoration: none;
}

#nav .active {
    margin: ;
}

#nav, #footer {
    background-color: rgba(236, 240, 241,1.0);
    padding: 0.5em 0;
}

#banner, .article {
    height: 10em;
    margin-bottom: 1em;
    background-color: rgba(236, 240, 241,1.0);
}